<div class="mt-4">
    <form method="POST">
        <div class="mb-3">
            <label for="search-input" class="form-label">Nhap tu khoa</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="nhap tu khoa">
        </div>

        <div class="mb-3">
            <label for="gender-input" class="form-label">Nhap tu khoa</label>
            <select name="gender">
                <option value="">chon gioi tinh</option>
                <option value="male">nam</option>
                <option value="female">nu</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Tim kiem</button>
    </form>
</div>