<div class="mt-4">
    <h3>Dang blog</h3>
    <form method="POST" action="/courses/store">
        <div class="mb-3">
            <label for="description" class="form-label">Mo ta blog</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">name</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-3">
            <label for="lever" class="form-label">lever</label>
            <input type="text" class="form-control" id="lever" name="lever">
        </div>
        <button type="submit" class="btn btn-primary">Them blog</button>
    </form>
</div>